* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: #202020;
}

.container {
    max-width: 1400px;
    margin: auto;
}

header {
    background-color: rgb(3, 6, 41);
    position: fixed;
    top: 0;
    width: 100%;
}

header .logo {
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: rgb(193, 196, 45);
    font-size: 1.6em;
}

header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a {
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: rgb(193, 196, 45);
}

header a:hover {
    color: rgb(45, 14, 116);
}

@media (min-width: 850px) {
    header {
        position: fixed;
        width: 100%;
    }

    header .container {
        flex-direction: row;
        justify-content: space-between;
    }

    header nav {
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }
}

#hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}

#hero h1 {
    font-size: 2em;
    color: white;
    text-align: center;
}

.integrantes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.integrante {
    margin: 10px 0;
    text-align: center;
}

.imagenes {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.imagenes img {
    max-width: 100%;
    height: auto;
}
